@import "../../../variables.scss";

.img-container {
    background: $imgBackground;
    height: 260px;
    border-radius: 5px;

    &.h95 {
        height: 95px;
    }
}

.status {
    color: green;
}

.pstn {
    position: relative;

    .bottom {
        position: absolute;
        bottom: 8px;

        &.right {
            right: 8px;
        }

        i {
            text-align: right;
            font-size: 12px;
            color: red;
            border: 1px solid;
            border-radius: 50%;
            padding: 2px;
            cursor: pointer;
        }
    }
}