<header>
    <div class="navbar flex">
        <div class="logo" routerLink="/">EcomStore</div>
        <div class="mobile-menu">
            <span>&#9776;</span>
        </div>
        <div class="menu">
            <ul class="flex menu">
                <li><a routerLink="/">Home</a></li>
                <!-- <li><a href="">Products</a></li>
                <li><a href="">About</a></li> -->
                <li routerLink="/profile" class="flex justify-content-center h-2rem align-items-center cursor-pointer">
                    <img class="h-full mr-1" src="../../../assets/profile.svg" alt="">
                    <span>Shrikant</span>
                </li>
                <li class="cart cursor-pointer" (click)="onCartClick()">
                    <i class="pi pi-shopping-cart mr-4 p-text-secondary" pBadge [value]="cartCount"></i>
                </li>
            </ul>
        </div>
    </div>
</header>