<div class="container p-3">
    <div class="grid">
        <div class="col-12">
            <h4><span class="badge"><i class="pi pi-star"></i> 4</span> Excellent <span class="date">31 Mar 2023</span>
            </h4>
            <p class="para">This product is of good quality. Its sound is really good. Pitch is high along with great
                quality base.
                Overall it is a
                delight to listen music through it, I am very happy and would recommend it.</p>

            <span class="author">By Avinash</span> <span class="edit"><i class="pi pi-pencil"></i></span>
        </div>
    </div>
</div>