@import "../../../variables.scss";

.container {
    cursor: pointer;
    transition: .1s ease-in-out 0.1s;

    &:hover {
        transform: scale(1.05);
    }

    .discount {
        font-size: 9px;
        background: red;
        border-radius: 50%;
        color: $white;
        font-weight: bold;
        padding: 5px 2px;
        top: 3px;
        left: 3px;
    }

    .img-back {
        background: $imgBackground;
        // width: 135px;
        height: 140px;
        border-radius: 5px;
        justify-content: center;

        img {
            height: 100%;
        }
    }

    .title {
        font-weight: 300;
        margin: 7px 0;
    }
}