<div class="container p-7">
    <div class="grid">
        <div class="col-12 lg:col-3 md:col-4">
            <div class="side-menus">
                <div class="flex justify-content-evenly">
                    <div class="h-5rem">
                        <img class="h-full" src="../../../assets/profile.svg" alt="">
                    </div>
                    <div>
                        <p>Hello</p>
                        <h4>Shrikant</h4>
                    </div>
                </div>
                <div>
                    <h3 class="cursor-pointer" routerLink="details"><i class="mr-2 pi pi-shopping-bag"></i> User Details
                    </h3>
                </div>
                <div>
                    <h3 class="cursor-pointer" routerLink="order"><i class="mr-2 pi pi-shopping-bag"></i> My Orders</h3>
                </div>
                <div>
                    <h3 class="cursor-pointer" routerLink="address"><i class="mr-2 pi pi-inbox"></i> Address</h3>
                </div>
                <div>
                    <h3 class="cursor-pointer" routerLink="setting"><i class="mr-2 pi pi-spin pi-cog"></i> Account
                        Settings</h3>
                </div>

                <div>
                    <h3><i class="mr-2 pi pi-wallet"></i> Payment</h3>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-9 md:col-8">
            <div class="side-personal">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <!-- <div class="card">
        <p-tabView>
            <p-tabPanel header="Header I">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est
                    laborum.</p>
            </p-tabPanel>
            <p-tabPanel header="Header II">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                    aspernatur
                    aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
            </p-tabPanel>
            <p-tabPanel header="Header III">
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti
                    atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
                    laborum et
                    dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
            </p-tabPanel>
        </p-tabView>
    </div> -->
</div>